/* admin.css -- css that is specific to the admin pages */

#admintitle {position: relative; left: -100px; font-size: 16pt;}
#loginarea {font-size: 20pt; margin-left: 450px; width: 400px; position: relative; top: -130px;}
#passwordlabel {color: yellow;}
#passwordbox {width: 300px; height: 30px; font-size: 20pt; }
#passwordinputdiv {margin-top: 10px; }
#passwordbuttondiv {margin-top: 20px;  }
#passwordbutton {height: 34px; font-size: 20pt;}

#mainarea {font-size: 20pt; border: 4px; border-style: solid; border-color: yellow; width: 1000px; height: 500px;
    margin-left: 100px; position: relative; top: -100px;}

#tabarea {width: 1000px; height: 500px; position: relative; top: -152px;}
#tabbar {overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}
.tabbutton {float: left; background-color: inherit; border: none; outline: none; cursor: pointer;
  padding: 14px 16px; transition: 0.3s; font-size: 17px; }
.tabbutton button:hover {background-color: #ddd; }  /* causes a hover effect over tab buttons */
.tabbutton.active {background-color: #ccc;}  /* causes active tab button to be darker */

.param {margin-top: 5px; margin-left: 10px;}
.param_label {float: left; margin-left: 10px; color: yellow; font-size: 16pt; position: relative; top: 4px;}
.param_value {float: left; margin-left: 10px; width: 100px; height: 20px; font-size: 18pt; color: white; }
.controlbutton {width: 140px; height: 30px; font-size: 16pt; color: black; font-weight: bold; 
    margin-left: 30px; margin-top: 20px;}

#scorearea {position: relative; top: -180px; left: 300px; width: 400px; height: 150px;
border: none; }
#gamemodediv {text-align: left; width: 200px; position: relative; top: 10px; left: 20px;}
#clockdiv {color: white; font-size: 30pt; width: 150px; height: 30px; 
    position: relative; top: -25px; left: 270px; }
.scoreside {float: left; margin-left: 20px; border: 2px solid; width: 150px; height: 70px;}
#bluescorediv {background-color: #9c9cda;}
#redscorediv {background-color: #e48181;}
.scorelabel {font-size: 16pt; text-align: center; color: white}
.scorevalue {font-size: 30pt; text-align: center; color: black;}

.tabcontent {display: none;}
.tabtitle {float:left; color: orange; margin-left: 10px; margin-top: 10px; width: 100px;}
.selcontrol {margin-left: 30px; margin-top:20px; font-size: 16pt;}
.seltitle {color: #beae1d; font-size: 14pt;}
.selvalue {width: 200px; font-size: 16pt;}

.inputwidget {margin-left: 10px; margin-top: 10px;font-size: 16pt; color: lightblue}
.cblabel {float: left;}

.smallbutton {margin-left: 10px; font-size: 12pt; width: 100px; height: 25px;}

.gplabel {color: #dd999e;}
.unitbar {float: left; margin-left: 10px; margin-top: 10px;}
.unitselectiondiv {float: left; margin-left: 30px; margin-top: 0px;}
.unittitle {float: left; font-size: 14pt; margin-top: 8px;}
.unitsel {float: left; margin-left: 10px; width: 40px; font-size: 14pt; margin-top: 4px;}
.unitiptextdiv {float: left; margin-left: 20px;}
.iplabel {float: left; font-size: 14pt; margin-top: 8px;}
.iptextbox {margin-left: 10px; width: 100px; font-size: 14pt;}
.unitnamediv {float: left; margin-left: 20px;}
.namelabel {float: left; font-size: 14pt; margin-top: 8px; margin-right: -2px;}
.nametextbox {margin-left: 10px; width: 110px; font-size: 14pt;}
.unitenablediv {float: left; margin-left: 20px;}
.enablelabel {float: left; margin-top: 8px; font-size: 14pt;}
.cbinput {margin-left: 10px; width: 18px; height: 18px; margin-top: 10px;}
.uintchangerefreshdiv {float: left; margin-left: 40px;}

.pwmbar {width: 250px; height: 40px;}
.pwmlabel {float: left; color: #dd999e; font-size: 12pt; margin-left: 10px; margin-right: 10px; margin-top: 10px;}
.pwmtextboxdiv {float: left;}
.pwmtextbox {width: 50px; height: 15px; font-size: 12pt;}
.scbutton {float: left; margin-left: 20px; width: 120px; font-size: 16pt;}

#slidercontrolbuttons {margin-left: 80px; margin-top: 20px; margin-bottom: 10px; width: 100%; height: 50px;}
#sliderstatusdiv {float: left; margin-left: 100px; border: 2px solid #886060; width: 270px; height: 300px; }
#sliderstatuslabel {color:  #dd999e; font-size: 12pt; margin-bottom: -20px; margin-top: 5px; margin-left: 10px;}
#sliderstatusupdate {width: 50px; height: 20px; font-size: 9pt; position: relative; top: -8px; left: 190px;}
#sliderstatus {margin-left: 10px; width: 240px; height: 250px;}
#sliderhitbox {float: left; margin-left: 50px; border: 2px solid #886060; width: 80px; height: 100px; }
#sliderhitboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-right: 10px; margin-top: 5px; }
#sliderhitboxvalue {background-color: blue; color: white; font-size: 18pt; width: 40px; margin-left: 10px; 
        text-align: center; margin-top: 10px;}
#sliderpwmbox {float: left; margin-left: 50px; border: 2px solid #886060; width: 150px; height: 150px; }
#sliderpwmboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-top: 5px;}
#slidersavechangebuttons {margin-left: 10px;}
#slidergamemodebox {position: relative; top: -320px; left: 720px; width: 200px; height: 50px;}

#basketcontrolarea {float: left; margin-top: 20px; margin-left: 20px; border: 1px solid #886060; height: 340px; width: 600px;}
#basketcontrolbuttons {margin-left: 10px; margin-top: 20px; margin-bottom: 10px; width: 100%; height: 30px;}
#basketstatusdiv {float: left; margin-left: 10px; margin-top: 20px; border: 1px solid #886060; width: 320px; height: 340px; }
#basketstatuslabel {color:  #dd999e; font-size: 12pt; margin-bottom: -20px; margin-top: 5px; margin-left: 10px;}
#basketstatusupdate {width: 50px; height: 20px; font-size: 9pt; position: relative; top: -8px; left: 250px;}
#basketstatus {margin-left: 10px; width: 290px; height: 290px;}
#baskethitbox {float: left; margin-top: 30px; margin-left: 30px; border: 2px solid #886060; width: 80px; height: 100px; }
#baskethitboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-right: 10px; margin-top: 5px; }
#baskethitboxvalue {background-color: blue; color: white; font-size: 18pt; width: 40px; margin-left: 10px; 
        text-align: center; margin-top: 10px;}
#basketpwmbox {float: left; margin-left: 50px; border: 2px solid #886060; width: 150px; height: 150px; }
#basketpwmboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-top: 5px;}
#basketsavechangebuttons {margin-left: 10px;}
#basketpwmbox {border: 2px solid #886060; width: 150px; height: 110px; position: relative; top: -200px; left: 600px;}
#basketpwmboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-top: 5px;}
#basketsavechangebuttons {margin-left: 10px;}

#movercontrolbuttons {margin-left: 80px; margin-top: 20px; margin-bottom: 10px; width: 100%; height: 50px;}
#moverstatusdiv {float: left; margin-left: 100px; border: 2px solid #886060; width: 270px; height: 300px; }
#moverstatuslabel {color:  #dd999e; font-size: 12pt; margin-bottom: -20px; margin-top: 5px; margin-left: 10px;}
#moverstatusupdate {width: 50px; height: 20px; font-size: 9pt; position: relative; top: -8px; left: 190px;}
#moverstatus {margin-left: 10px; width: 240px; height: 250px;}
#moverhitbox {float: left; margin-left: 50px; border: 2px solid #886060; width: 80px; height: 100px; }
#moverhitboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-right: 10px; margin-top: 5px; }
#moverhitboxvalue {background-color: blue; color: white; font-size: 18pt; width: 40px; margin-left: 10px; text-align: center; margin-top: 10px;}
#moverpwmbox {float: left; margin-left: 50px; border: 2px solid #886060; width: 150px; height: 150px; }
#moverpwmboxlabel {color: #dd999e; font-size: 12pt; margin-left: 10px; margin-top: 5px;}
#moversavechangebuttons {margin-left: 10px;}
#movergamemodebox{position: relative; top: -340px; left: 600px; width: 200px; height: 50px;}

#scoreboardtestdiv {position: relative; top: -20px; left: 750px;}
#scoreboardtestlabel {font-size: 14pt; margin-top: 10px;}
#teamdiv {margin-top: 20px; margin-left: 10px; width: 360px; height: 80px; border: 2px solid #886060}
#teamnamebluelabel {color: blue;}
#teamnameredlabel {color: red;}
.teamnamelabel {float: left; margin-left: 10px; margin-top: 5px; width: 70px; }
.teamnametextbox {float: left; margin-left: 10px; margin-top: 10px; }
#teamnameupdatediv {position: relative; top: -70px; left: 280px;}
#teamnameswapdiv {position: relative; top: -70px; left: 280px;}

#unitsetuparea {width: 225px; height: 350px; border: 2px solid #886060; position: relative; top: -130px; left: 430px;}
.unitsetupline {height: 30px; width: 270px;}
.unitsetuplabel {float: left; margin-left: 10px; margin-top: 0px; width: 80px; font-size: 12pt;} 
.unitselection {float: left; width: 60px; height: 20px;}
#unitselectionsubmit {position: relative; left: 90px; margin-bottom: 10px;}

#gamecontrolarea {width: 800px; height: 50px; position: relative; top: 60px;}
#unitstatusarea {width: 250px; height: 340px; margin-left: 10px; margin-top: 10px; border: 1px solid #886060;
  position: relative; top: -20px; left: 700px;}
.unitstatusbox {display: block; height: 30px; width: 100px; margin-left: 10px}
.unitstatuslabel {float: left; color: #f6bb48; font-size: 15pt; margin-left: 10px; margin-top: 10px; width: 80px;}
.unitstatusindicator {float: left; margin-left: 10px; margin-top: 10px; width: 20px; height: 20px; background-color: red;}
.unitsidetextbox {float: left; margin-left: 10px; margin-top: 15px; width: 50px; font-size: 12pt;}
.unitsideblink {float: left; margin-left: 10px; width: 50px; font-size: 9pt;}
.unitblinkbtn {width: 45px; height: 18px; margin-top: 12px;}

#endgamearea {width: 650px; position: relative; top: -300px; left: 50px; height: 180px;}
.sidescorearea {width: 600px; height: 70px; border: 1px solid #886060; margin-top: 25px; margin-left: 5px;}
#bluesidecontrolarea {background-color: #9c9cda; }
#redsidecontrolarea {background-color: #e48181;}
.sidescorelabel {float: left; font-size: 16pt; color: yellow; margin-top: 10px; margin-left: 20px;}
.sidescorecontrols {float: left; width: 575px; margin-left: 20px; }
.sidetextbox {float: left; margin-left: 10px; }
.sidetextboxlabel {float: left; color: black ; font-size: 18px; }
.raketextbox {float: left; width: 40px; margin-left: 5px; margin-right: 10px; }
.adjtextbox {float: left; width: 40px; margin-left: 5px; margin-right: 10px; }
.sidecblabel{float: left; color: black; font-size: 18px;  margin-left: 20px; }
.sidecb {float: left; width: 20px; height: 20px; margin-top: -2px;}
#submitgamescorebtndiv{margin-left: 90px; margin-top: 25px;}
#gamescoresubmitbtn {Font-size: 14pt; width: 85px; height: 25px;}
#gamestatusmsgarea {float: left; margin-left: 30px; margin-top: -230px; width: 900px; height: 20px; border: 3px solid #886060;}
#gamestatusmsg {background-color: lightgray; color: black; font-size: 14pt; text-align: left;}


