/* admin.css -- css that is specific to the admin pages */

#admintitle {position: relative; left: -100px; font-size: 16pt;}
#loginarea {font-size: 20pt; margin-left: 450px; width: 400px; position: relative; top: -130px;}
#passwordlabel {color: yellow;}
#passwordbox {width: 300px; height: 30px; font-size: 20pt; }
#passwordinputdiv {margin-top: 10px; }
#passwordbuttondiv {margin-top: 20px;  }
#passwordbutton {height: 34px; font-size: 20pt;}

#mainarea {font-size: 20pt; border: 4px; border-style: solid; border-color: yellow; width: 1050px; height: 550px;
    margin-left: 50px; position: relative; top: -100px;}

#tabarea {width: 1000px; height: 500px; position: relative; top: -152px;}
#tabbar {overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}
.tabbutton {float: left; background-color: inherit; border: none; outline: none; cursor: pointer;
  padding: 14px 16px; transition: 0.3s; font-size: 17px; }
.tabbutton button:hover {background-color: #ddd; }  /* causes a hover effect over tab buttons */
.tabbutton.active {background-color: #ccc;}  /* causes active tab button to be darker */

.param {margin-top: 5px; margin-left: 10px;}
.param_label {float: left; margin-left: 10px; color: yellow; font-size: 16pt; position: relative; top: 4px;}
.param_value {float: left; margin-left: 10px; width: 100px; height: 20px; font-size: 18pt; color: white; }
.controlbutton {width: 140px; height: 30px; font-size: 16pt; color: black; font-weight: bold; 
    margin-left: 30px; margin-top: 20px;}

#scorearea {position: relative; top: -180px; left: 300px; width: 400px; height: 150px; border: none; }
#gamemodediv {text-align: left; width: 600px; position: relative; top: 40px; left: 270px;}
#clockdiv {color: white; font-size: 40pt; width: 200px; height: 50px; 
    position: relative; top: 50px; left: 270px; }
.scoreside {float: left; margin-left: 20px; border: 2px solid; width: 150px; height: 70px;}
.scorelabel {font-size: 16pt; text-align: center; color: orange;}
.scorevalue {font-size: 30pt; text-align: right; color: white; margin-right: 20px;}

.gplabel {color: #dd999e;}
#sliderstatusdiv {position: relative; top: -230px; left: 710px; border: 2px solid #886060; width: 280px; height: 300px; }
#sliderstatuslabel {color:  #dd999e; font-size: 12pt; margin-bottom: -20px; margin-top: 5px; margin-left: 10px;}
#sliderstatusupdate {width: 50px; height: 20px; font-size: 9pt; position: relative; top: -8px; left: 150px;}
#sliderstatus {position: relative; top: 20px; margin-left: 10px; width: 250px; height: 250px;}

#maincontrolframe {position: relative; top: -130px; left: -200px; height: 45px;}
.scbutton {height: 40px; width: 100px; font-size: 25pt; margin-left: 30pt;}

#sliderschedulebox {position: relative; top: -180px; left: 500px; font-size: 20pt;}
.sliderscheduleboxlabel {display: block; float: left; margin-right: 20px;}
#sliderschedule {display: block; float: left; margin-top: 10px; width: 80px;}


#slidercontrolframe {position: relative; top: -100px; left: 20px;}
#sliderheaderlabel {margin-bottom: 10px;}
.sliderheaderelement{display: block; float: left; margin-left: 0px; margin-right: 10px; font-size: 14pt; color: orange;}
.sliderrow {display: block; margin-top: 10px; height: 25px; width: 1000px; font-size: 14pt; color: white;}
.slidernamevalue {display: block; float: left; width: 80px;}
.slideripvalue {display: block; float: left; width: 90px;}
.sliderstatusvalue {display: block; float: left; width: 100px;}
.sliderhitsvalue {display: block; float: left; width: 60px;}
.sliderbuttondiv {display: block; float: left; margin-right: 10px;}

#sliderheader_ip {margin-left: 20px;}
#sliderheader_status {margin-left: 30px;}
#sliderheader_hits {margin-left: 30px;}
#sliderheader_open {margin-left: 20px;}
#sliderheader_enable {margin-left: 25px;}
#sliderheader_reset {margin-left: 5px;}
#sliderheader_report {margin-left: 7px;}

#gamestatusmsgarea {display: block; margin-left: 30px; margin-top: -200px; width: 900px; height: 20px; border: 3px solid #886060;}
#gamestatusmsg {background-color: lightgray; color: black; font-size: 14pt; text-align: left;}






