<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>EPIC BASEBALL GAME</title>
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <div id="mainframe">
      <div id="bannersplit">
        <div id="epiclogo"><img src="../static/img/epiclogo.png" width="200" height="200"></div>
        <div id="titlesplit">
            <div id="maintitle">BASEBALL GAME</div>
        </div>
        </div id="admintitle">BASKET_CONTROL</div>
      </div>
    </div>
  </body>
</html>