{#
    // --------------------------------------------------------------------
    // header.header -- For all pages on the EPIC Fms Website.
    //
    // Created: 09/29/21 DLB
    //
    //  This template produces html for a header that works with a footer.  It should be
    //  supplied with a sructure that defines: 
    //     BrowserWidth, ContentWidth, IsAdmin
    //
    // --------------------------------------------------------------------
 #}
    
    <!DOCTYPE html>
     
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>EPIC BASEBALL GAME</title>
        <link rel="stylesheet" type="text/css" href="../css/.css">
        <style>
            #screen_area {width: 1024 px;}
            .content_area {width: 900 px;} 
        </style>
    </head>
     
    <div id="screen_area">
    <div id="header_banner">
        <div id="header_writeable_area">
        <div id="header_icon"> <a href="welcome"> <img src="../img/epicicon120_new.jpg" height="50px"> </a></div>
        <div id="header_website_name">EPIC Robotz Part Numbers</div>
        <div id="header_account_area">
            <div id="header_username_div"> </div>
            <div id="header_accoutmenu_div">  </div>
     </div>
     <div style="clear: both;"></div>
     <div id="middle_area">