<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>EpicFms</title>
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <div id="mainframe">
      <div id="bannersplit">
        <div id="epiclogo"><img src="../static/img/epiclogo.png" width="200" height="200"></div>
        <div id="titlesplit">
            <div id="maintitle">EPIC FMS</div>
        </div>
      </div>
      <div id="buttonnavarea">
        <div class="navbuttondiv">
            <button id="scoreboardbutton" class="navbutton" onclick="window.location.href='score';">Scoreboard</button>
        </div>
        <div class="navbuttondiv">
            <button id="adminbutton" class="navbutton" onclick="window.location.href='admin';">Admin</button>
        </div>
       </div>  
    </div>
  </body>
</html>
